@use "../utils/mixins";
@use "../utils/variables";

@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
.team-section {
	padding: 80px 0;
    @include mixins.respond-below(lg) {
        padding: 40px 0;
   }
}
.team-grid {
	background: variables.$white;
	box-shadow: 0px 4.8px 24.4px -6px #1310221A;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 24px;
	position: relative;
    @include mixins.respond-below(lg) {
        padding: 20px;
        margin-bottom: 20px;
    }
	&:hover {
		.team-overlay-img {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				background: rgba(0, 0, 0, 0.60);
				-webkit-transition: 0.7s;
				-moz-transition: 0.7s;
				-o-transition: 0.7s;
				transition: 0.7s;
			}
			img {
				-webkit-transform: scale(1.15);
				-moz-transform: scale(1.15);
				-webkit-transition: 0.7s;
				-moz-transition: 0.7s;
				-o-transition: 0.7s;
				transition: 0.7s;
			}
		}
		.team-view-btn {
			top: 50%;
			opacity: 1;
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
			-webkit-transition: 0.7s;
			-moz-transition: 0.7s;
			-o-transition: 0.7s;
			transition: 0.7s;
		}
	}
}
.team-img {
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
}
.team-overlay-img {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		-webkit-transition: 0.7s;
		-moz-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}
	img {
		width: 100%;
		border-radius: 10px;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition: 0.7s;
		-moz-transition: 0.7s;
		-o-transition: 0.7s;
		transition: 0.7s;
	}
}
.team-view-btn {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	.btn {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding: 11px 18px;
		height: auto;
	}
}
.team-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.team-title {
	margin-top: 10px;
	h4 {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 200px;
		margin-bottom: 0px;
		font-size: variables.$font-size-16;
		font-weight: variables.$font-weight-medium;
        @include mixins.respond-below(md) {
            font-size: variables.$font-size-20;
            margin-bottom: 2px;
        }
	}
	p {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 180px;
		margin-bottom: 0;
	}
}
.team-social-links {
	margin-top: 10px;
	a {
		width: 32px;
		min-width: 32px;
		height: 32px;
		margin-right: 5px;
		border-radius: 50%;
		background: #E6E6E6;
		color: #363636;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background: variables.$primary;
			color: variables.$white;
			-webkit-transition: 0.4s;
			-moz-transition: 0.4s;
			-o-transition: 0.4s;
			transition: 0.4s;
		}
	}
}
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	border-radius: 0;
	text-align: center;
	position: relative;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	&:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 0;
		content: '';
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		display: none;
	}
	&:before {
		speak: none;
		font-size: variables.$font-size-18;
		line-height: 20px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		display: block;
		-webkit-font-smoothing: antialiased;
	}
	&:hover {
		&:before {
			-webkit-animation: toTopFromBottom 0.5s forwards;
			-moz-animation: toTopFromBottom 0.5s forwards;
			animation: toTopFromBottom 0.5s forwards;
		}
	}
}
.team-slider {
	.owl-dots {
		text-align: center;
		margin-top: 16px;
        @include mixins.respond-below(lg) {
            margin-top: 10px;
        }
		.owl-dot {
			width: 10px;
			height: 10px;
			border-radius: 50px;
			background: #FFE3CF;
			margin: 0;
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
		.owl-dot.active {
			width: 30px;
			height: 10px;
			background: variables.$primary;
		}
	}
}
.team-details {
	margin-bottom: 40px;
    @include mixins.respond-below(md) {
		margin-bottom: 20px;
	}
}
.team-details-img {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
    @include mixins.respond-below(lg) {
		margin-bottom: 24px;
	}
	img {
		width: 100%;
		border-radius: 10px;
	}
	.team-social-links {
		position: absolute;
		bottom: 20px;
		width: 100%;
		margin-top: 0;
		text-align: center;
	}
}
.team-details-heading {
	margin-bottom: 24px;
    @include mixins.respond-below(md) {
        margin-bottom: 20px;
   }
	h4 {
		margin-bottom: 6px;
		font-weight: variables.$font-weight-bold;
	}
	h6 {
		color: variables.$gray-500;
		margin-bottom: 24px;
		font-size: variables.$font-size-14;
		font-weight: variables.$font-weight-normal;
	}
	p {
		margin-bottom: 0;
		color: variables.$gray-500;
	}
    h5 {
        @include mixins.respond-below(md) {
            margin-bottom: 20px;
       }
    }
}
.team-details-list {
	ul {
		li {
			font-size: variables.$font-size-16;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				font-size: variables.$font-size-16;
				font-weight: variables.$font-weight-semibold;
				color: variables.$gray-900;
			}
		}
	}
}
.team-persnoal-info {
	padding: 24px;
	margin-bottom: 40px;
	border-radius: 10px;
	background: variables.$white;
	box-shadow: 0px 4.4px 12px -1px #DEDEDE5C;
    @include mixins.respond-below(md) {
        padding: 20px;
           margin-bottom: 20px;
   }
	h5 {
		font-weight: variables.$font-weight-semibold;
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 0;
	}
}
.team-skills {
	margin-bottom: 40px;
    @include mixins.respond-below(md) {
		margin-bottom: 0;
	}
}
.team-skills-info {
	padding: 24px;
	border-radius: 10px;
	background: variables.$white;
	box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
    @include mixins.respond-below(md) {
		margin-bottom: 20px;
	}
	h3 {
		font-weight: variables.$font-weight-semibold;
		margin-bottom: 15px;
	}
	.progress {
		height: 10px;
	}
	.progress-bar {
		background: variables.$success;
	}
	.progress-bar.w-90 {
		width: 90%;
	}
	.progress-bar.w-82 {
		width: 82%;
	}
	.progress-bar.w-85 {
		width: 85%;
	}
	.progress-bar.w-95 {
		width: 95%;
	}
	.progress-bar.w-80 {
		width: 80%;
	}
	ul {
		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;
			font-size: variables.$font-size-16;
			&:after {
				content: "\f111";
				font-family: "Font Awesome 5 Free";
				font-weight: variables.$font-weight-semibold;
				position: absolute;
				display: block;
				font-size: variables.$font-size-6;
				top: 8px;
				left: 12px;
			}
		}
	}
	p {
		margin-bottom: 0;
	}
}
.team-progress {
	margin-bottom: 24px;
}
.team-progress-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	margin-bottom: 10px;
	h6 {
		font-size: variables.$font-size-14;
		margin-bottom: 0;
	}
	p {
		font-size: variables.$font-size-14;
		font-weight: variables.$font-weight-medium;
		color: variables.$gray-900;
		margin-bottom: 0;
	}
}
.team-form {
	background: variables.$white;
	box-shadow: 0px 4.4px 12px -1px #DEDEDE5C;
	border-radius: 10px;
	padding: 24px;
	.form-group {
		margin-bottom: 24px;
		textarea.form-control {
			min-height: 160px;
		}
        @include mixins.respond-below(md) {
            margin-bottom: 20px;
        }
	}
    .price-card {
        @include mixins.respond-below(md) {
            padding: 20px;
       }
    }
}
.team-form-heading {
	margin-bottom: 24px;
    @include mixins.respond-below(md) {
		margin-bottom: 20px;
	}
	h5 {
		font-weight: variables.$font-weight-semibold;
		margin-bottom: 5px;
	}
	p {
		font-weight: variables.$font-weight-semibold;
		margin-bottom: 0;
		font-weight: variables.$font-weight-normal;
	}
}
.team-section-list {
    @include mixins.respond-below(sm) {
        padding: 40px 0 25px;
   }
}
.testimonial-review {
    @include mixins.respond-below(sm) {
        justify-content: start !important;
        flex-direction: column-reverse;
        gap: 10px;
        text-align: start;
        align-items: start !important;
    }
}